<p id="notice"><%= notice %></p>

<p>
  <strong>Comment text:</strong>
  <%= @comment.comment_text %>
</p>

<p>
  <strong>Refers to:</strong>
  <%= @comment.refers_to %>
</p>

<p>
  <strong>Comment user:</strong>
  <%= @comment.comment_user %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
