<%= render 'layouts/header' %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Prod name:</strong>
  <%= @product.prod_name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @product.quantity %>
</p>

<p>
  <strong>Mesure unit:</strong>
  <%= @product.mesure_unit %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
